In [6]:
sql_script = """
CREATE TABLE datapruebasaber(
    cole_area_ubicacion char(50),
    cole_bilingue char(50),
    cole_calendario char(50),
    cole_caracter char(50),
    cole_cod_depto_ubicacion INT,
    estu_depto_reside char(50),
    cole_cod_mcpio_ubicacion char(50),
    cole_genero char(50),
    cole_jornada char(50),
    cole_naturaleza char(50),
    estu_genero char(50),
    fami_cuartoshogar char(50),
    fami_educacionmadre char(50),
    fami_educacionpadre char(50),
    fami_estratovivienda char(50),
    fami_personashogar char(50),
    fami_tieneautomovil char(10),
    fami_tienecomputador char(10),
    fami_tieneinternet char(10),
    fami_tienelavadora char(10),
    punt_global INT

);
"""

In [7]:
sql_script += 'INSERT INTO datapruebasaber(cole_area_ubicacion, cole_bilingue,cole_calendario,cole_caracter,cole_cod_depto_ubicacion, cole_cod_depto_ubicacion, estu_depto_reside,cole_cod_mcpio_ubicacion,cole_genero,cole_jornada,cole_naturaleza,estu_genero,fami_cuartoshogar,fami_educacionmadre,fami_educacionpadre,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global) VALUES\n'

In [5]:
import pandas as pd
df = pd.read_csv("C:/Users/dafef/OneDrive - Universidad de los Andes/Decimo Semestre/Analitica computacional/Proyecto 3 Pruebas Saber 11/Datos_PruebaSaber.csv")
print(df.head())

  cole_area_ubicacion cole_bilingue cole_calendario      cole_caracter  \
0              URBANO             S               A          ACADÉMICO
1              URBANO             N               A          ACADÉMICO
2              URBANO             N               A          ACADÉMICO
3              URBANO             N               A  TÉCNICO/ACADÉMICO
4               RURAL             N               A  TÉCNICO/ACADÉMICO

   cole_cod_depto_ubicacion estu_depto_reside  cole_cod_mcpio_ubicacion  \
0                        52            NARIÑO                     52001
1                        19             CAUCA                     19001
2                        11            BOGOTÁ                     11001
3                         5         ANTIOQUIA                      5234
4                        27             CHOCO                     27361

  cole_genero cole_jornada cole_naturaleza  ... fami_cuartoshogar  \
0       MIXTO       MAÑANA      NO OFICIAL  ...              Tres
1       MIXTO       MAÑANA         OFICIAL  ...             Cinco
2       MIXTO        TARDE         OFICIAL  ...            Cuatro
3       MIXTO     SABATINA         OFICIAL  ...               Uno
4       MIXTO       MAÑANA         OFICIAL  ...               Dos

                    fami_educacionmadre                 fami_educacionpadre  \
0        Educación profesional completa    Técnica o tecnológica incompleta
1        Educación profesional completa  Secundaria (Bachillerato) completa
2  Secundaria (Bachillerato) incompleta                   Primaria completa
3                   Primaria incompleta                   Primaria completa
4                   Primaria incompleta                             Ninguno

  fami_estratovivienda fami_personashogar fami_tieneautomovil  \
0            Estrato 3              3 a 4                  Si
1            Estrato 2              7 a 8                  Si
2            Estrato 2              5 a 6                  Si
3            Estrato 1              3 a 4                  No
4            Estrato 1              7 a 8                  No

  fami_tienecomputador fami_tieneinternet fami_tienelavadora punt_global
0                   No                 Si                 Si         303
1                   Si                 Si                 Si         167
2                   Si                 Si                 Si         248
3                   No                 No                 No         183
4                   No                 No                 Si         197

[5 rows x 21 columns]

In [9]:
values = []

for i, row in df.iterrows():
    value = f"({row['cole_area_ubicacion']},{row['cole_bilingue']},{row['cole_calendario']},{row['cole_caracter']},{int(row['cole_cod_depto_ubicacion'])},{int(row['cole_cod_depto_ubicacion'])},{row['estu_depto_reside']},{row['cole_cod_mcpio_ubicacion']},{row['cole_genero']},{row['cole_jornada']},{row['cole_naturaleza']},{row['estu_genero']},{row['fami_cuartoshogar']},{row['fami_educacionmadre']},{row['fami_educacionpadre']},{row['fami_estratovivienda']},{row['fami_personashogar']},{row['fami_tieneautomovil']},{row['fami_tienecomputador']},{row['fami_tieneinternet']},{row['fami_tienelavadora']},{int(row['punt_global'])})"
    #print(value)
    values.append(value)


sql_script += ',\n'.join(values)+';'
print(len(values))

4480130

In [10]:
with open("C:/Users/dafef/OneDrive - Universidad de los Andes/Decimo Semestre/Analitica computacional/Proyecto 3 Pruebas Saber 11/datapruebasaber.sql", "w")as sql_file:
    sql_file.write(sql_script)

In [19]:
import psycopg2
engine = psycopg2.connect(
    dbname="datapruebasaber",
    user="postgres",
    password="proyectopruebasaber",
    host="danielchristerproyecto3.cpucxidqdwyr.us-east-1.rds.amazonaws.com",
    port='5432'
)

In [20]:
cursor = engine.cursor()

In [21]:
query = """
SELECT *
FROM datapruebasaber
;"""
cursor.execute(query)
result = cursor.fetchall()
result

[]